* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  color: #2c2c2c;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  text-align: center;
}
body.nav-active nav#nav {
  top: -25vh;
}
body.nav-active nav#nav ul {
  transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
}
body.nav-active #nav-toggle {
  background-color: #fff;
  border-color: #fff;
}
body.nav-active #nav-toggle > span {
  background-color: #5dbede;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  color: #1b8fb6;
  font-weight: 400;
  text-decoration: none;
}
img {
  max-width: 100%;
  width: 100%;
}
header#header {
  background-color: #222;
  height: 4rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
header#header a {
  color: #fff;
}
header#header #brand {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem;
  text-align: left;
  text-transform: uppercase;
  vertical-align: bottom;
}
#hero {
  background: #5dbede;
  color: #fff;
  overflow: hidden;
}
#hero h2 {
  margin: 2rem 0;
}
#hero a {
  display: inline-block;
}
#hero a.button {
  border: 0.125rem solid #fff;
  color: #fff;
  margin: 0 0.25rem 2rem 0.25rem;
  padding: 0.5rem 0.75rem;
  text-transform: none;
  border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  -ms-border-radius: 0.125rem;
  -o-border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
}
#hero a.button.primary {
  border-color: #1b8fb6;
  color: #1b8fb6;
}
nav#nav {
  background-color: #5dbede;
  color: #fff;
  display: table;
  height: 150vh;
  left: 0;
  position: fixed;
  top: -175vh;
  width: 100%;
  z-index: 9000;
  transition: 0.25s top;
  -moz-transition: 0.25s top;
  -ms-transition: 0.25s top;
  -o-transition: 0.25s top;
  -webkit-transition: 0.25s top;
}
nav#nav #nav-wrapper {
  display: table-cell;
  overflow: auto;
  vertical-align: middle;
}
nav#nav ul {
  display: block;
  margin: 0;
  max-height: 100vh;
  overflow: auto;
}
nav#nav ul li {
  line-height: 4rem;
}
nav#nav ul li a {
  color: #fff;
  display: block;
  font-size: 1.5rem;
}
nav#nav ul li a:hover,
nav#nav ul li a:active {
  background-color: rgba(0, 0, 0, 0.1);
}
#nav-toggle {
  background-color: #222;
  border: 0.125rem solid #222;
  cursor: pointer;
  margin: 1rem;
  overflow: hidden;
  padding: 0.375rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 2.5rem;
  z-index: 9999;
  transition: 1s border-color;
  -moz-transition: 1s border-color;
  -ms-transition: 1s border-color;
  -o-transition: 1s border-color;
  -webkit-transition: 1s border-color;
}
#nav-toggle > span {
  background-color: #fff;
  display: block;
  height: 0.125rem;
  width: 100%;
  transition: 1s background-color;
  -moz-transition: 1s background-color;
  -ms-transition: 1s background-color;
  -o-transition: 1s background-color;
  -webkit-transition: 1s background-color;
}
#nav-toggle > span:first-child + span {
  margin: 0.3125rem 0;
}
section:not(#hero) {
  text-align: left;
}
section:not(#hero) h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  width: auto;
}
section:not(#hero) p {
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 175%;
  margin-bottom: 1.5rem;
}
section:not(#hero) .content-wrapper {
  padding: 1rem;
}
section:not(#hero) .separator {
  background-color: #5dbede;
  height: 0.125rem;
  margin-bottom: 2rem;
  width: 1.5rem;
}
footer#footer {
  background-color: #f7f7f7;
  color: #222;
}
footer#footer .content-wrapper {
  padding: 1rem;
}
footer#footer .grid {
  justify-content: space-between;
}
.grid {
  display: flex;
  flex-flow: row wrap;
}
.grid .sm-1-1 {
  padding: 0.75rem;
  text-align: center;
  width: 100%;
}
.grid .sm-1-2 {
  padding: 0.75rem;
  text-align: center;
  width: 50%;
}
@media screen and (min-width: 50rem) {
  .content-wrapper {
    margin: auto;
    max-width: 60rem;
  }
  header#header .content-wrapper {
    overflow: hidden;
    position: relative;
  }
  header#header .content-wrapper #brand {
    font-size: 1.75rem;
  }
  header#header .content-wrapper #brand a:hover,
  header#header .content-wrapper #brand a:active {
    color: #5dbede;
  }
  nav#nav {
    background-color: transparent;
    display: block;
    height: auto;
    left: auto;
    right: 0;
    position: absolute;
    top: 0;
    width: auto;
  }
  nav#nav ul li {
    display: table-cell;
  }
  nav#nav ul li a {
    display: inline;
    font-size: 1.25rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
  }
  nav#nav ul li a:hover,
  nav#nav ul li a:active {
    background-color: transparent;
    border-bottom: 0.125rem solid #5dbede;
  }
  nav#nav ul li:last-child a {
    border: 0.125rem solid #fff;
  }
  nav#nav ul li:last-child a:hover,
  nav#nav ul li:last-child a:active {
    border-color: #5dbede;
  }
  #nav-toggle {
    display: none;
  }
  #hero h2 {
    font-size: 2rem;
  }
  #hero .button {
    font-size: 1.25rem;
  }
  .grid .lg-1-2 {
    padding: 1.5rem;
    text-align: center;
    width: 50%;
  }
  .grid .lg-1-4 {
    padding: 1.5rem;
    text-align: center;
    width: 25%;
  }
}
