// @color-primary: #09a1d7;
@color-primary: #5dbede;

.util-box-sizing(@sizing) {
    box-sizing: @sizing;
    -moz-box-sizing: @sizing;
    -ms-box-sizing: @sizing;
    -o-box-sizing: @sizing;
    -webkit-box-sizing: @sizing;
}

.util-border-radius(@radius) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	-webkit-border-radius: @radius;
}

.util-transform(@transform) {
	transform: @transform;
	-moz-transform: @transform;
	-ms-transform: @transform;
	-o-transform: @transform;
	-webkit-transform: @transform;
}

.util-transition(@transition) {
	transition: @transition;
	-moz-transition: @transition;
	-ms-transition: @transition;
	-o-transition: @transition;
	-webkit-transition: @transition;
}

* {
    .util-box-sizing(border-box);
}

body {
    color: #2c2c2c;
    font-family: sans-serif;
    margin: 0;
    text-align: center;

    &.nav-active {
		nav#nav {
			top: -25vh;

            ul {
                .util-transform(scale(1));
            }
		}

        #nav-toggle {
            background-color: #fff;
			border-color: #fff;

			> span {
				background-color: @color-primary;
			}
		}
	}
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

header#header {
    background-color: @color-primary;
    // background-color: #fff;
	// border-top: 0.1875rem solid @color-primary;
	height: 4rem;
    overflow: hidden;
	width: 100%;

    a {
        color: #fff;
    }

    #brand {
        font-size: 1.5rem;
        font-weight: normal;
        margin: 1.25rem;
        text-align: left;
        text-transform: lowercase;
    }
}

#hero {
    background: @color-primary;
    color: #fff;
    overflow: hidden;

    h2 {
        font-weight: normal;
        margin: 2rem 0;
    }

    a {
        display: inline-block;

		&.button {
			border: 0.125rem solid #fff;
            color: #fff;
			// font-size: 60%;
			margin: 0 0 2rem 0;
			padding: 0.5rem 0.75rem;
			text-transform: none;

			.util-border-radius(0.125rem);
		}
    }
}

nav#nav {
	background-color: @color-primary;
	color: #fff;
	display: table;
	height: 150vh;
	left: 0;
	position: fixed;
	top: -175vh;
	width: 100%;
	z-index: 9000;

	.util-transition(0.25s top);

	#nav-wrapper {
		display: table-cell;
		overflow: auto;
		vertical-align: middle;
	}

	ul {
		display: block;
		margin: 0;
		max-height: 100vh;
		overflow: auto;

        // .util-transform(scale(1.2));
        // .util-transition(0.75s transform);

		li {
			line-height: 4rem;

			a {
				color: #fff;
				display: block;
				font-size: 1.5rem;

				&:hover, &:active {
					background-color: rgba(0, 0, 0, 0.1);
				}
			}
		}
	}
}

#nav-toggle {
    background-color: @color-primary;
	border: 0.125rem solid @color-primary;
	cursor: pointer;
	margin: 1rem;
	overflow: hidden;
	padding: 0.375rem;
	position: fixed;
	right: 0;
	top: 0;
	width: 2.5rem;
	z-index: 9999;

	.util-transition(1s border-color);

	> span {
		background-color: #fff;
		display: block;
		height: 0.125rem;
		width: 100%;

		.util-transition(1s background-color);

		&:first-child + span {
			margin: 0.3125rem 0;
		}
	}
}

section:not(#hero) {
    padding: 1rem;
    text-align: left;

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    p {
        letter-spacing: 1px;
        line-height: 175%;
        margin-bottom: 1.5rem;
    }
}


@media screen and (min-width: 50rem) {
    html {
        // font-size: 1.3rem;
    }

    .content-wrapper {
        margin: auto;
        max-width: 50rem;
    }
}
